__version__.py
__pycache__/
*.py[cod]
*.swp
*~
local.ini
core.*
.project
.pydevproject
*.sqlite3
logs/*
\#*
.#*
*~
\#*
*.log*
.settings
.DS_Store
.venv/
build/
dist/
pygrowup_erknet.egg-info/
pygrowup_erknet/tables/cache/
